/*
 *  File:	kSimpleWeb.css
 *  What:	Cascading Stylesheet for kSimpleWeb
 *  Author:	Frode Klevstul, www.klevstul.com
 *  When:	October 2004
 */


/*
 *  Body, Tables etc
 * ------------------------------------------------
 */
BODY {
	padding: 15px;
	background-color: #dddddd;
	font-family: Trebuchet MS, Arial, Verdana, Helvetica;
	font-size: 12px; 
	color: #000000;
}

PRE {
	font-family: Trebuchet MS, Arial, Verdana, Helvetica;
	font-size: 12px; 
}

TD {
	padding: 0px;
	font-size: 12px;
}

SPAN.small {
	font-size: 10px;
}


IMG {

}


TABLE.border {
	border: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #ffffff;
}

TABLE.noBorder {
	border: 0px;
}



/*
 *  Links
 * ------------------------------------------------
 */
A:link {
	text-decoration: underline;
	color: #000000;
}

A.noLine {
	text-decoration: none;
	color: #000000;
}

A:active {
	color: red;
}

A:visited {
	color: #000000;
}

A:hover {
	color: white;
	background-color: black;
}

A.selected{
	color: white;
	background-color: #aaaaaa;
}
